html {
    height: 100vh;
    background-color: whitesmoke;
}

.main {
    margin-top: 30vh;
    display: flex;
    justify-content: center;
}

.number {
    width: 10%;
    text-align: center;
    font-size: 40px;
}

.button {
    width: 20%;
}